<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python\python.exe|D:\Python\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
            <rules>
                <rule name="FastAPI" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="handler.fcgi/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="29999" maxQueryString="29999" />
            </requestFiltering>
        </security>
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="C:\FastAPIApp" />
    <add key="WSGI_HANDLER" value="main.wsgi_app" />
    <add key="WSGI_LOG" value="C:\FastAPIApp\wfastcgi.log" />
  </appSettings>
</configuration>